/target/.history3
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedJars/_global/streams/export
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.11/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/target/scala-2.11/update/update_cache_2.11/inputs
/target/scala-2.13/update/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.11/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedClasspath/_global/streams/out
/target/scala-2.11/update/update_cache_2.11/output
/target/scala-2.13/update/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.11/output
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.11/output_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/.bsp/sbt.json
